/*General Styles*/

body {
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
}

div.clear {
	clear: both;
}

ul {
	list-style: none;
}

i.step-icon {
	margin-top: 20px;
	font-size: 3rem;
	display: block;
	color: #00b8e6;
}

#lower-page {
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0s;
}

#error-box {
	display: none;
	margin-top: 5px;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 0s;
}



/*Suggested Box Sytles*/

#suggested-box {
	display: none;
	margin-top: 2px;
	text-align: left;
	border: solid #ccc 1px;
	border-radius: 5px;
	/*padding-top: 5px;
	padding-bottom: 3px;*/
	margin-right: 50px;
}

#suggested-box p {
	margin: 0;
	padding: 2px 0;
	font-size: 18px;
	color: #ccc;
	padding-left: 15px;
}


#suggested-box p.selected {
	background-color: #f2f2f2;
	color: #555;
}


/*Title Styles*/

#title {
	margin-top: 30px;
}

#title span {
	color: #00b8e6;
	font-size: 5rem;
}

#title span.highlight {
	color: #5cb85c;
	font-size: 5rem;
	font-weight: 500;
}

/*555 ccc*/

/*--------------------------------------------------*/

/*Search Box*/

#search-box {
	margin-top: 15px;
}

#search-box button:hover {
	background-color: #fff;
	color: #00b8e6;
	border-color: #ccc;
}


/*--------------------------------------------------*/

/* Features Panel */

#features-box {
	margin-top: 10px;
}


#features-box ul.column {
	max-width: 100%;
	margin: 20px auto;
}

#features-box li {
	margin-top: 10px;
	text-align: left;
}

#features-box li.float {
	float: left;
	width: 45%;
	margin-right: 5%;
}


#features-box label {
	/*font-weight: 200;*/
	color: #555;
	font-size: 1.5rem;
	font-weight: 300;
}

#features-box select {
	font-size: 1.5rem;
	font-weight: 100;
}


/*----------------------------------------------------*/


/*Results Box*/

#results-box {
	margin-top: 40px;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 0s;
}


#results-box span {
	font-size: 2rem;
	font-weight: 400;
	margin: 0 10px;
	padding: 6px 16px;
}

#results-box span.minor {
	background-color: #fff;
	color: #555;
	font-weight: 100;
	margin: 0 3px;
}

#results-box i {
	
	color: #00b8e6;
	font-weight: 400;
	font-size: 1.8rem;
}

/*------------------------------------------------*/

/*Responsive Styles*/

/*@media (max-width: 800px) {

	#results-box i {
		display: none;
	}

	#results-box span {

	}

	body {
		max-width: 80%;
	}
}*/



@media (min-width: 800px) {
	body {
		max-width: 70%;
	}

	#title {
		margin-top: 50px;
	}

	#results-box {
		margin-top: 45px;
	}
}

@media (min-width: 1100px) {
	body {
		max-width: 50%;
	}

	#title {
		margin-top: 80px;
	}

	#results-box {
		margin-top: 50px;
	}
}

